<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.itl.c19130519.u3menusapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.EjemploMenuEnComunActivity"
            android:exported="true" />
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.MenuContextualFlotanteActivity"
            android:exported="true" />
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.MenuPopupActivity"
            android:exported="true" />
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.MenuModoAccionContextualActivity"
            android:exported="true" />
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.MenuComunActivity"
            android:exported="true" />
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.TercerActivity"
            android:exported="true" />
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.SegundoActivity"
            android:exported="true" />
        <activity
            android:name="mx.edu.itl.c19130519.u3menusapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>